h1{
    color:#9c6644ff;
    text-align: center;
}

body{
    background-color: #ede0d4;
}

a{
    color:#9c6644ff;
}

h2{
    color:#b08968ff;
}

p{
    color: #7f5539ff;
}

article{
    background-color:#e6ccb2ff ;
    border-color: #9c6644ff;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-top:10px;
    margin-bottom:10px;
    padding: 15px;
    font-size: 17px;
}

.fecha{
    text-align: end;
    padding-right: 10px;
}


/*Colors.co
--almond-cream: #ede0d4ff;
--pale-oak: #e6ccb2ff;
--tan: #ddb892ff;
--faded-copper: #b08968ff;
--coffee-bean: #7f5539ff;
--toffee-brown: #9c6644ff;
*/
