h1{
    color:#9c6644ff;
}

body{
    background-color: #ede0d4;
}

a{
    color:#9c6644ff;
}

h2{
    color:#b08968ff;
}

p{
    color: #7f5539ff;
}




/*Colors.co
--almond-cream: #ede0d4ff;
--pale-oak: #e6ccb2ff;
--tan: #ddb892ff;
--faded-copper: #b08968ff;
--coffee-bean: #7f5539ff;
--toffee-brown: #9c6644ff;
*/
